<html>
<head></head>
<body>
	<form action="#" th:action="@{'/chat'}" th:objects="${chatForm}"
		method="POST">
		<label for="username">Username:</label> <input id="username"
			type="text" name="username" th:field="*{animalName}"> <label
			for="messageText">MessageText:</label> <input id="messageText"
			type="text" name="messageText" th:field="*{messageText}"> <label
			for="messageType">MessageType: </label> <select id="messageType"
			name="messageType" th:field="*{messageType}">
			<option selected>Say</option>
			<option>Shout</option>
			<option>Whisper</option>
		</select> <input type="submit">
	</form>
	<h1 th:unless="${#lists.size(theChat) > 100}"
		th:each="msg : ${theChat}" th:text="${msg}">Hello, homepage!</h1>
	<h1 th:if="${#lists.size(theChat) > 100}">I think that's enough!</h1>
</body>
</html>